.section{
margin: 5rem auto;
max-width: 60rem;
/* display: flex;
flex-flow: row wrap;
gap: 10%; */

}
#grid {
  display: grid;
  min-height: 60px;
  grid-template-rows: 0fr;
  transition:all 2900ms ease ;
}
#grid > div{
  overflow: hidden;

}
#grid:hover{
  grid-template-rows: 3fr;
}

/* section > h1{
  overflow: hidden;
}
section{

}
section:hover{
  grid-template-rows: 1fr;
} */
section {
    
    /* position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20%;
    
    
    min-height: 200px;
    padding: 100px; */
}




.blue{
    background-color: #E9F1FA;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;
    border-radius: 20px;
    
}
.orange{
    background-color:#00ABE4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.pink{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ;
    border-radius: 20px;
}
