@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@200&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&family=Mulish:wght@200&family=Open+Sans&display=swap');

.AboutSection{
    background-color: #fcfafa;
    height: 36rem;
    font-family: 'Inter', sans-serif;

   

    margin: 4rem auto;
}
#aboutImage{
    background-image: url('../../images/../images/about.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 2rem ;
height: 450px;
width: 450px;
    background-repeat: no-repeat;
  
    margin: 2rem;
}
.aboutContent{
 
    display: grid;
   
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 2rem auto;
    max-width:62rem;
}
.text-content{
    margin: 0 2rem;
}
.text-content h4{
    color: #147efb;
    
  
    /* font-family: 'Oswald', sans-serif; */
    font-size: 1rem;
    font-weight: 900;
    margin: 2.2rem 0 0 0;
    text-transform: uppercase;
}
.text-content h3{
    color: #2d2e32;
   
   
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 1rem;
   
}
.text-content p{
   color: #767676;
   font-size: 1rem;
   font-weight: 700;
   line-height: 1.6rem;
  text-align: justify;
font-family: 'Open Sans', sans-serif;
}
@media (max-width:800px){
   .AboutSection{
    height: 60rem ;
   }
    #aboutImage{
        margin: 0 auto;
    }
    .aboutContent{
       
      
        grid-template-columns: auto;
     
    }
    .text-content{
        text-align: center;
    }
    .text-content h4{
        font-size: 1.2rem;
        text-shadow: 1px 1px 0px rgb(0, 110, 100);
        
    }
}
