#aboutImage{
    background-image: url('../../images/../images/about.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 2rem ;
height: 450px;
width: 500px;
    background-repeat: no-repeat;
  
    margin: 2rem;
}
.aboutContent{
 
    display: grid;
   
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 2rem auto;
    max-width:62rem;
}
