

.section {
    background-color: #fcfafa;
    height: 36rem;
    font-family: 'Inter', sans-serif;

   

    margin-top: 4rem;
    
}
.container{
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    margin: 2.7rem auto;
    position: relative;

}
.content{
    margin: 4rem auto 0 auto;
    display: flex;
    /* flex-direction: row; */
    flex-flow: row nowrap;
    gap: 2rem;
    

}


.hero-text{
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .9rem;
}
.hero-text h1{
 
  margin: 0;
    font-size: 3.8rem;
    line-height: 1.1;
    color: rgb(48, 47, 47);
}
.hero-text p{
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    color:#767676;
    line-height: 1.6;
    font-weight: 600;

}

/* .hero-main{
    background-image: url('../../images/Me.jpg');
    width: 20rem;
    height: 20rem;
    border-radius: 30%;

} */
.hero-main {
    background-image: url("/src/images/Mee.jpg");
    width: 25rem;
    height: 25rem;
    background-size: cover;
    /* background-position: center center; */
    background-repeat: no-repeat;
    border: 3px solid black;
  
  
  
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    position: relative;
    /* transition: all 1s ease-in-out; */
  
   
  }
   
    
    @keyframes morph {
        0% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
      
        50% {
          border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
      
        100% {
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
      }
  
.social-media{
    display: flex;
    gap: 1.1rem;

  
}
  .social-media a {
    color: rgb(20, 18, 18);
    font-size: 1.7rem;
  }
  
  .social-media a:hover{
    color: blue;
        font-size: 2rem;
    }
    
  .skillsContainer{
    margin: 0 0;
  }
.skills{
    display: flex;

    margin: 2rem 0 1rem 6.3rem;
    flex-direction: row;
    
    
    
}
    .skills p{
        border-right: 2px solid rgba(0, 0, 0, 0.5);
    
        color: #2d2e32;
        font-family: Mulish,sans-serif;
        font-weight: 600;
        font-size: 21px;
      
       padding-right: 2rem;
        
       display: flex;
       justify-content: center;
       align-items: center;
     
        
    }


    
    .skills ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
      
        
     gap: 24px;

    }
    .skills ul li:nth-child(1){
        background-image: url('../../images/tech-stack-images/html5.png');
      background-repeat: no-repeat;
      background-size: cover;
  width: 3rem;
  height: 3rem;
    }
    .skills ul li:nth-child(2){
        background-image: url('../../images/tech-stack-images/css.png');
      background-repeat: no-repeat;
      background-size: cover;
  width: 3rem;
  height: 3rem;
    }
    .skills ul li:nth-child(3){
        background-image: url('../../images/tech-stack-images/js.png');
      background-repeat: no-repeat;
      background-size: cover;
  width: 3rem;
  height: 3rem;
    }
    .skills ul li:nth-child(4){
        background-image: url('../../images/tech-stack-images/react.png');
      background-repeat: no-repeat;
      background-size: cover;
  width: 3rem;
  height: 3rem;
    }
    .skills ul li:nth-child(5){
        background-image: url('../../images/tech-stack-images/expressjs.png');
      background-repeat: no-repeat;
      background-size: cover;
  width: 3rem;
  height: 3rem;
    }
    .skills ul li:nth-child(6){
        background-image: url('../../images/tech-stack-images/nodejs.svg');
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 9px;
  width: 6rem;

    }
    .skills ul li:nth-child(7){
        background-image: url('../../images/tech-stack-images/plant.png');
      background-repeat: no-repeat;
      background-size: cover;
  width: 3rem;
  height: 3rem;
    }

    /* .myList{
        
    } */
    
@media (max-width:900px){
  
    .skills{
        display: flex;
       
        margin: 3rem 2rem 2rem 2rem;
        flex-direction: column;
        
        
    }
    .skills p{ text-align: center;
        border-right: none; 
        margin: 2rem auto;
        padding-right: 0;
        
    }
    .skills ul{
        justify-content: space-evenly;
        gap: 4rem;
        padding: 0;
    }

    .section{
       
       height: 72rem;
     
    }
    .social-media{
        display: flex;
        justify-content: center;
        
      }
  .content{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
  }

    
}

@media (max-width: 500px) {

    /* .skills{
        display: flex;
        position: relative;
        bottom: -6rem;
        left: 0rem;
        flex-direction: row;
        
        
    } */
    .hero-main{
        width: 28rem;
        height: 28rem;
    }

}
