.logo {
    cursor: grab;
   
}
.navbar{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5) ;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    z-index: +1;
}

.logo span {
    font-size: 1.4rem;
    color: #2d2e32;
}
.pj-list{
    list-style: none;
    display: flex;
    flex-direction: row;
   gap: 2rem;
 
   font-size: 1.3rem;
   font-weight: 600;
}
.pj-list1{
    list-style: none;
    display: flex;
    flex-direction: row;
   gap: 2rem;
   font-family: Poppins,sans-serif;
   color: #2d2e32;
   font-size: 1.2rem;
   font-weight: 500;
}
.pj-list1 li a{
text-decoration: none;
color: #2d2e32;
}
#scroll{
/* display: none; */
}
.mobile-menu{
    list-style: none;
    display: none;
    flex-direction: row;
   gap: 2rem;

   font-size: 1.3rem;
   font-weight: 600;
   cursor: pointer;
}


.pj-navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    
}
.fa-codepen{
margin-right: 1rem;
}

@media (max-width:710px) {
    .pj-list1{
        display: none;
    } 
    .mobile-menu{
        display: flex;
    }
    #scroll{
        /* display: block; */
    }
}


/* home page */
